svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    margin: auto;
  }
  
  .monkey {
    stroke: #FFC300;
    stroke-width: 2px;
    stroke-dashoffset: -2000;
    stroke-dasharray: 2000;
    animation-name: monkey;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    }
    
    @keyframes monkey {
      0% {
        stroke-dashoffset: -2000;
        stroke: #FFC300;
      }
      30% {
        stroke: #FF5733;
      }
      50% {
        stroke: #FFC300;
      }
      70% {
        stroke: #FF5733;
      }
      100% {
      stroke-dashoffset:0;  
      stroke: #FFC300;
      }
    }